PORT=8080
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

JWT_SECRET=super_secret_jwt_key_12345_secure
REFRESH_SECRET=super_secret_refresh_key_67890_secure

DATABASE_URL=postgresql://postgres.tzudujsqinkyvnvfgrzy:Kannawar%402005@aws-0-ap-south-1.pooler.supabase.com:6543/postgres

SUPABASE_URL=https://tzudujsqinkyvnvfgrzy.supabase.co
SUPABASE_ANON_KEY=sb_publishable_pfIKfSae4gdK03SY-eOVHQ_XaFgmW1N
SUPABASE_SERVICE_ROLE_KEY=sb_secret_GvBTdzKGDi8cgnQIc6B9eA_fqzJx8EQ
SUPABASE_STORAGE_BUCKET=Drive